name: Metrics
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # Configuraci칩n b치sica
          user: jesuSando
          template: classic
          base: ""
          # Configuraci칩n de plugins
          plugin_radar: yes
          plugin_radar_skills: commits, pull-requests, reviews, issues
          plugin_radar_title: Activity Overview
          plugin_radar_limit: 4
          # Configuraci칩n de archivo de salida
          filename: github-metrics.svg
          # Tema
          theme: dark